*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
    margin:0;
    padding:20px;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.75)
    ),
    url("spiderman-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    font-family:Arial, sans-serif;
}

.container{
width:100%;
max-width:500px;
}

.screen{
display:none;
background:#1e293b;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 0 25px rgba(0,0,0,.3);
}

.screen.active{
display:block;
}

h1,h2{
margin-bottom:20px;
}

p{
margin-bottom:15px;
line-height:1.6;
}

input, textarea{
width:100%;
padding:14px;
margin:15px 0;
border:none;
border-radius:10px;
font-size:16px;
}

button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
font-weight:bold;
}

button:hover{
opacity:.9;
}

.contact-box{
margin-top:20px;
}

.contact-box a{
display:block;
margin-bottom:15px;
color:#38bdf8;
text-decoration:none;
font-weight:bold;
}

.contact-box a:hover{
text-decoration:underline;
}